.invoice {
  margin: 1.5rem;
  padding: 2rem;
  flex: 1 0 250px;
  align-self: start;
  background: #fff;
  border-radius: var(--border-radius);
  box-shadow: 0 -1px 2.2px rgba(0, 0, 0, 0.034),
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072);
}

.invoice > div > div {
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.invoice > .checkout-button {
  padding: 1rem 0;
}

.total {
  padding: 1rem 0;
  font-size: 1.2rem;
  font-weight: 600;
}

@media screen and (max-width: 900px) {
  .invoice {
    margin: 1rem 0rem;
    align-self: unset;
  }
}