@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;900&display=swap');

:root {
  --border-radius: 0.5rem;
  --accent: #fe7f2d;
  --primary: #001d3d;
  --gray: #dddddd;
  color: var(--primary);
  font-family: 'Poppins', sans-serif;
}

#root > div {
  min-height: 100vh;
  position: relative;
}

.container {
  display: flex;
  padding: 1rem;
}

.flex {
  display: flex;
}

h1, h2, h3 {
  font-weight: 600;
}

.page-header {
  text-align: center;
  margin-top: 2rem;
}


@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
  }
}
